
.container-calculo{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 123px auto;
    background-color: #1f2937;
    padding: 40px;
    gap: 20px;
    align-items: flex-start;
    border-radius: 20px;
}

.container-calculo h1 {

    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;

}

/***Main*/

.rubros-container {
    display: grid;
    gap: 20px;
    flex: 1;
}

.rubro-card{

    display: flex;
    align-items: center;
    width: 100%;
    background-color: aqua;
    padding: 20px;
    border-radius: 100px;
    gap: 10px;
    font-family: 'Fuente';
    background-color: white;
    color: black;
    font-weight: bold;  
    
}

.rubro-card label{

    margin-right: auto;
    
}

.rubro-card input {

    width: 90px;
    padding: 7px;
    border-radius: 100px;
    border-width: 3px;
    text-align: center;
    
    
}

.acciones {
    display: flex;
}

.btn-primary-calculo {

    width: 100%;
    background-color: #34393f;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    margin: 15px 15px 9px 15px;
    padding: 15px 18px 15px 18px;
    font-size: 15px;

}

.btn-primary-calculo:hover {

    background-color: white;
    color: black;
    transition: background-color 0.3s;

}

.btn-eliminar {

    width: 30px;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    
}

.btn-eliminar:hover {

    background-color: #1f2937;
}


#result {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 50%;
    height: 240px;
    flex-shrink: 0;

    background-color: white;
    color: black;

    border-radius: 20px;
    padding: 20px;
}