*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fuente';
    src: url('../assets/font/Merriweather/Merriweather.ttf') format("truetype");
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fuente', sans-serif;
    color: black;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: antiquewhite;
    color: #1f2937;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

hr {
    height: 4px;
    background-color: #34393f;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: block;
}

/*============================
Header
============================*/
.site-header{
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34393f;
    position: sticky;
    top: 0;
}

header a{
    color: seashell;
}

header a:hover{
    text-decoration: underline;
}

.logo{
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-left: 10px;
    float: left;
    color: seashell;
}

.header-interactables{
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: #1f2937;
    color: seashell;
    border-radius: 30px;
    padding: 8px;
}

.header-interactables:hover{
    background-color: seashell;
    color: #1f2937;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu-toggle{
    display:none;
}

.hamburguesa{
    display:none;
    cursor:pointer;
}

.hamburguesa span{
    display:block;
    width:30px;
    height:4px;
    background-color:white;
    margin:5px 0;
    border-radius:2px;
}

.menu-nav{
    display:flex;
    gap:10px;
}

/* -------------------------
            Botones
---------------------------- */

.btn-primary {
    display: inline-block;
    background-color: #34393f;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    margin: 15px 15px 9px 15px;
    padding: 15px 18px 15px 18px;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: white;
    color: black;
}

.btn-secondary {
    background-color: #00b4d8;
    color: #00194a;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #0096c7;
    color: white;
}

/*---------------------------
        Form
----------------------------*/

.form {
    background-image: url(../assets/images/wallpaperCurso.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: antiquewhite;
    padding-top: 220px;
    padding-bottom: 220px;
}

.form-content {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    background-color: rgba(255, 221, 159, 0.55);
    border-radius: 60px;
    padding: 30px;
    width: 35%;
    margin: auto;
}

.form h4 {
    grid-column: 1 / 3;
    justify-self: center;
    font-size: 2rem;
    margin-bottom: 5px;
}

.form button {
    background-color: #34393f;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    margin: 15px 15px 9px 15px;
    padding: 15px 18px 15px 18px;
    font-size: 15px;
}

.form button:hover {

    background-color: white;
    color: black;
    
}

/*Div de los botones*/
.form-buttons {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.form label {
    text-align: center;
    font-family: 'Fuente', bold;
    background-color: antiquewhite;
    border-radius: 100px;
    padding: 6px;
}

.form input[type="text"] {

    width: 100%;
    

}

.form select {

    grid-column: 2 / 3;
    width: 50%;
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: #1f2937;
    color: seashell;
    border-radius: 30px;
    padding: 8px;
    align-items: center;
}

.rubro-card{
    grid-column: 1 / 3;

    background-color: rgba(255,255,255,0.25);
    border: 2px solid rgba(255,255,255,0.4);

    border-radius: 25px;

    padding: 25px;

    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

.rubro-card h5{
    grid-column: 1 / 3;
    text-align: center;
    font-size: 1.3rem;
}

/*============================
Utilities
============================*/
p{
    margin-bottom: 16px;
}

/*============================
Footer
============================*/

footer{
    background-color: #34393f;
    color: azure;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
}

footer a{
    color: azure;
}

footer h2 {
    padding: 8px;
}

footer a:hover{
    text-decoration: underline;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

footer li img {
    width: 80%;
    padding: 20px ;
    
}

@media (max-width: 600px) {

    .hamburguesa{
        display:block;
        margin-right:15px;
    }

    .menu-nav{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #34393f;
        padding: 20px;
        flex-direction: column;
    }

    .menu-nav nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu-nav select {
        text-align: center;
    }

    .logo {

        margin: 0 auto;
    }

    #menu-toggle:checked ~ .menu-nav{
        display:flex;
    }

    .form-content {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    background-color: rgba(255, 221, 159, 0.55);
    border-radius: 60px;
    padding: 30px;
    width: 90%;
    margin: auto;
}


    .main-nav ul {
        gap: 6px;
    }

    .main-nav a {
        font-size: 0.9rem;
        padding: 7px 8px;
    }


    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        text-align: center;
    }
    
    .about-image img {
        width: 110px;
    }

}